NODE_ENV=

LOCAL_DATABASE_URL=

NEON_DATABASE_URL=
PORT=
API_URL=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

EMAIL_HOST=
EMAIL_PASS=arjc vzvg fnqu tpf

CLIENT_URL=

AI_API_KEY=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